<div class="sidebar">
    <h2><a href="/" style="text-decoration:none; color:inherit;">Admin Panel</a></h2>
    <div class="menu-item" id="bakim-menu">
        <div class="menu-title">Bakım</div>
        <ul class="submenu">
            <li><a href="/bakim">Bakım Listesi</a></li>
            <li><a href="#">Bakım Düzenle</a></li>
        </ul>
    </div>
    <div class="menu-item" id="musteriler-menu">
        <div class="menu-title">Müşteriler</div>
        <ul class="submenu">
            <li><a href="/musteriler">Müşteri Listesi</a></li>
            <li><a href="#">Müşteri Düzenle</a></li>
        </ul>
    </div>
    <a href="/">Admin Panel</a>
    <a href="/bakim">Bakım</a>
    <a href="/musteriler">Müşteriler</a>
</div>
