<div class="sidebar">
    <h2>Admin Panel</h2>
    <div class="menu-item" id="bakim-menu">
        <div class="menu-title">Bakım</div>
        <ul class="submenu">
            <li><a href="/bakim">Bakım Listesi</a></li>
            <li><a href="#">Bakım Düzenle</a></li>
        </ul>
    </div>
    <a href="#">Müşteri</a>
    <a href="#">Çalışanlar</a>
    <a href="#">Arıza</a>
    <a href="#">Panel & Site</a>
</div>
